CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_ARM_PSCI=y
CONFIG_ARM_PSCI_FW=y
CONFIG_HAVE_ARM_SMCCC=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_ARM_SMCCC_SOC_ID=y
CONFIG_REGMAP_SMCCC=y
CONFIG_MAILBOX=y
CONFIG_ARM_SCMI_PROTOCOL=y
# CONFIG_ARM_SCMI_POWER_DOMAIN is not set
CONFIG_COMMON_CLK_SCMI=y
CONFIG_CPU_IDLE=y
CONFIG_ARM_PSCI_CPUIDLE=y
# CONFIG_ARM_PSCI_CPUIDLE_DOMAIN is not set
# CONFIG_ARM_AT91_CPUIDLE is not set
# CONFIG_ATMEL_PM is not set
CONFIG_ATMEL_SECURE_PM=y
# CONFIG_HW_RANDOM_ATMEL is not set
CONFIG_HW_RANDOM_OPTEE=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_AT91_SAMA5D2_UART1=y
CONFIG_EARLY_PRINTK=y
# CONFIG_SAMA5D4_WATCHDOG is not set
CONFIG_ARM_SMC_WATCHDOG=y
# CONFIG_RTC_DRV_AT91RM9200 is not set
CONFIG_RTC_DRV_OPTEE=y