# Create a symlink for the panel keyboard input which is has an platform parent
SUBSYSTEM=="input", SUBSYSTEMS=="platform", KERNEL=="event[0-9]*", ENV{ID_INPUT_KEY}=="1", SYMLINK+="input/keyboard0"
